/* * {

    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Thambi 2', cursive;
} */
#app {
    background-color: #f8f9f9;
    /* height: 100vh; */
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
  }
  .fas {
    color: #f75940;
  }